# Dependencies
node_modules/

# Next.js
.next/
out/
.next-static/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env
.env.*

# Mac
.DS_Store

# Archives
*.tar.gz

# Misc
coverage/
*.local
